{
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [ "Android >= 4",  "safari > 11" ]
        }
      }
    ]
  ]
}